{% extends "layouts/base.twig" %}

{% block title %} Login {% endblock %}

{% block content %}

<section class="articles">
  <div class="column is-8 is-offset-2">
    <div class="card article" style="margin-bottom: 10px;">
      <div class="card-content">
        <form action="" method="POST">
          <div class="field">
            <label class="label">E-mail:</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium {{ errors.email ? 'is-danger' : '' }}" name="email" type="email"
                    value="{{ old.email }}" placeholder="email@example.com">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              {% if errors.email %}
                <span class="icon is-small is-right has-text-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              {% endif %}
            </div>
            {% if errors.email %}
              <p class="help is-danger">{{ errors.email | first }}</p>
            {% endif %}
          </div>
          <div class="field">
            <label class="label">Senha:</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium {{ errors.password ? 'is-danger' : '' }}" name="password" type="password"
                    value="{{ value.password }}"  placeholder="******">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              {% if errors.password %}
                <span class="icon is-small is-right has-text-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              {% endif %}
            </div>
            {% if errors.password %}
              <p class="help is-danger">{{ errors.password | first }}</p>
            {% endif %}
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-medium is-link">Entrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}