<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ path_for('home') }}" class="navbar-item">
        Início
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        {% if not auth.check %}
          <a href="{{ path_for('auth.login') }}" class="navbar-item">
            Login
          </a>
          <a href="{{ path_for('auth.register') }}" class="navbar-item">
            Registrar
          </a>
        {% else %}
          <a href="{{ path_for('user.avatar') }}" class="navbar-item">
            Olá, {{ auth.user.name }}
          </a>
          <a href="{{ path_for('post.create') }}" class="navbar-item">
            Criar Post
          </a>
          <a href="{{ path_for('user.posts') }}" class="navbar-item">
            Seus Posts
          </a>
          <a href="{{ path_for('auth.logout') }}" class="navbar-item">
            Sair
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>